/* ###### Defaults ################## */
nav,header,footer{
    display:block;   

}

body{
    line-height: 1;
    margin: 0;   
    background: linear-gradient(to top right,rgb(52, 101, 238), rgb(150, 223, 228));
    background-color:  rgb(19, 7, 79);
    z-index: -10;
    
}
.contact_body{
    line-height: 1;
    margin: 0;    
    background: black; 
    background-color:  black;

}
.contact_main{
    min-height: 85vh;
}

.row{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after {    
    clear: both;
    content: "";
}

.col_1{width: 8.33%;}
.col_2{width: 16.66%;}
.col_3{width: 25%;}
.col_4{width: 33.33%;}
.col_5{width: 41.66%;}
.col_6{width: 50%;}
.col_7{width: 58.33%;}
.col_8{width: 66.66%;}
.col_9{width: 75%;}
.col_10{width: 83.33%;}
.col_11{width: 91.66%;}
.col_12{width: 100%;}

/* .col_1,.col_2,.col_3,.col_4,.col_5,.col_6,
.col_7,.col_8,.col_9,.col_10,.col_11,.col_12{
    border: rgb(21, 255, 0) 1px solid;
}
.row{
    border: rgb(38, 0, 255) 1px solid;
} */

/* ########## Navbar ############### */
nav{
    width: 100%;
    margin: 0;
    
}
nav ul {
    background-color: #e8ebec;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
    padding-left: 2%; 
}


ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 14px;
    text-transform: uppercase;
    color: black;
}

ul.topnav li a:hover{
    background-color: #0080ff;
    color: #fff;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/* ################### Custom styles ############### */
.container {        
    position: relative;
    width:100%;
    height:60vh;
    background-color: black;

}

.container h1 {
    color: #BDC3C7;
    font-size: 60px;  

}
.container h3 {
    color: #BDC3C7 ;
    font-size: 30px;
    font-family:serif;
    line-height: 50px; 
 
}
.container3 h5 {
    color: black ;
    font-size: 30px;
    font-family:serif;

}
.container3 .row{
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
}
.container3 .col_6{
    /* border: rgba(44, 4, 155,0.2) 2px solid ; */    
    background-color: rgba(242, 241, 245, 0.6);
    display: table-cell;
    margin: 2rem 3% 0 3%; 
    color: black;
    font-family:serif;
    font-size: 18px;
    line-height: 50px;  
    text-align: center;     
    border-radius: 10px;  
    z-index: -1;

    
    padding: 0 20px 0 20px;;
    /* box-shadow: -10px 13px 14px -11px rgba(12,12,13,1);
-webkit-box-shadow: -10px 13px 14px -11px rgba(12,12,13,1);
-moz-box-shadow: -10px 13px 14px -11px rgba(12,12,13,1); */

}
.intro_image{

    height: 20vh;  
    position: absolute;
    left: 50%;
    top: 45%; 
    opacity: 20%;
}
.intro_image img{
    width: 50%;
    height: 100%;
}
.intro_label{
    position: absolute;
    left: 5%;
    bottom: 0; 
    opacity: 0%;
}
.intro_label a{
    color:goldenrod;
    text-decoration: none;
} 
.intro_label a:hover {
    background-color: rgb(102, 34, 34);
  }

.container2{
    padding: 2rem 3% 0 3%;      
    color: black;    
    font-size: 22px;
    line-height: 50px;   
    z-index: -3; 
}

.logo{
    margin-top: 2px;
}
.logo img {
    border-radius: 50%;
    max-width: 30%;
    max-height: 30%;
    margin-left: 30%;    
    overflow:auto;
    transition: 1s;    
}
.logo img:hover {
    border-radius: 20%; 
}
/* .container3{
    margin: 2rem 3% 0 3%; 
    color: black;
    font-family:serif;
    font-size: 25px;
    line-height: 50px;  
    text-align: center; 
    background-color: rgba(245, 247, 248, 0.5);
    border-radius: 2rem;  
    z-index: -1;  
} */

.container3 .col_5{
    /* background-color: rgba(7, 8, 71, 0.8);
    border-radius: 1rem;  */
    margin: auto;
    margin-top: 1rem;
}
.container3 iframe{
 border-radius: 2rem;
 width:90%;
 height: 360px;
}
.container3 p{
    color:black;
}

.circle1 {
    top: 80%;
    left: 40%;
    background-color: rgba(8, 131, 245, 0.863);
    z-index: -1;
    
}
.circle2 {
    top: 60%;
    right: 2%;
    background-color: rgb(102, 11, 221);
    opacity: 0.7;
    z-index: 0;

}
.circle3 {
    top: 66%;
    left: 1%;
    background-color: rgb(65, 143, 231);
    z-index: -1;
}
.circle1, .circle2, .circle3 {
    /* background: rgb(156, 154, 154); */
    /* background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) );   */
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    
}
.footer{
    margin-top: 30px;
    padding: 30px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: #eee;
    display: block;
    

}
.icons{
    margin-top: 10px;
    padding: 10px;
}
.fa {
    padding: 10px;
    margin-right: 40px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
  }
.fa-github {
    background: #e8ebec;
    color: black;
  }
  



  
/* ################### Mobile ######################*/
@media screen and (max-width:1100px) {

    ul.topnav li{
        display: none;}
    
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    ul.topnav.responsive a{
        display: block;
        text-align: left;
    }
    .container h1 {
        font-size: 40px;
    }
    .container h3 {
        font-size: 20px;        
    }
    .container3 iframe{
        border-radius: 2rem;
        width:90%;
        height:260px;
       }

    
    .col_6,.col_5,
    .col_4{
        width: 100%;
        margin: 15px;
    }
    .container3 .row{
        display: flex;

}